<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd" >
<!-- 我们可以在其中添加我们所需要配置的bean，也可以添加相应的数据库连接和事务处理等等，方便后续拓展
       -->
<dubbo:application name="dubbo_provider" />
<dubbo:registry address="zookeeper://182.92.230.35:4181" />
<dubbo:protocol name="dubbo" port="20882" />
<dubbo:annotation package="com.tyjr.maven_spring.service" />
<!--<dubbo:service interface="com.tyjr.maven_spring.service.TestService" ref="testService" />-->
</beans>